<!DOCTYPE html>
<html>
<head>
  <title>To-Do with Vue</title>
  <link rel="stylesheet" type="text/css" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/foundation-custom/css/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
</head>
<body>

<div class="container text-center" id="todo">

<h1>To-Do</h1>

<div class="row">
    <div class="small-2 columns text-right">
    <i class="fa" v-bind:class="classObject" v-on:click="selectAll"></i>
    </div>
    <div class="small-8 columns">
    <input type="text" placeholder="What do you need to do?" autofocus v-model="todo" v-on:keyup.enter="addTask">
    </div>
    <div class="small-2 columns text-left">
    <i class="fa fa-times" v-on:click="clearList" title="Delete All Tasks"></i>
    </div>
</div>    
  <div id="todo-list">
    <div v-for="todo in todos">
      <div class="row todo">
        <div class="small-3 columns text-right">
          <i class="fa" v-bind:class="[todo.checked ? 'fa-check-square-o' : 'fa-square-o' ]" v-on:click="checkTask(todo)"></i>
        </div>
        <div class="small-6 columns">
          <textarea type="text" v-on:keydown.enter.prevent="editTask(todo,$event.srcElement)" v-model="todo.text" v-bind:class="{checked: todo.checked}"></textarea>
        </div>
        <div class="small-3 columns text-left">
          <i class="fa fa-times remove" v-on:click="removeTask(todo)"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="js/vue.js"></script>
<script src="js/store.js"></script>
<script src="js/app.js"></script>
</body>
</html>