<!DOCTYPE html>
<html>
<head>
  <title>To-Do with Vue</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<div class="container" id="todo">
  <section class="panel">
    <input id="mark-all" type="checkbox" v-bind:checked="areAllSelected" v-on:click="selectAll">
    <input type="text" placeholder="What do you need to do?" class="text-input" autofocus v-model="todo" v-on:keyup.enter="addTask">
    <button v-on:click="clearList">Clear List</button>
    
  </section>

  <ul class="list">
    <li v-for="todo in todos" v-bind:class="{done: todo.checked}" v-cloak>
      <input type="checkbox" class="checkbox" v-on:click="checkTask(todo)" v-model="todo.checked">
      <input type="text" contenteditable="true" v-on:keydown.enter.stop.prevent="editTask(todo)" v-model="todo.text"></input>
      <button class="delete" v-on:click="removeTask(todo)">X</button>
      <pre>{{todo.key}}</pre>
    </li>
  </ul>
</div>
<script src="js/vue.js"></script>
<script src="js/store.js"></script>
<script src="js/app.js"></script>
</body>
</html>